.macrofit-header {
  background: transparent;
}
.macrofit-header * {
  color: #ffffff;
}
.macrofit-hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.macrofit-hero * {
  color: #FCFDFE;
}
.macrofit-hero-back {
  position: absolute;
  z-index: -1;
}
.macrofit-hero-content {
  padding: 150px 80px 20px;
}
.macrofit-hero-btn {
  background-color: #F12B2D;
  padding-left: 32px;
  padding-right: 32px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-width: 0;
}
#myTab {
  margin-top: 80px;
}
#myTabContent {
  padding: 70px 40px;
}
#myTabContent button{
  margin-top: 30px;
}